.leftMenuParent {
    display: flex;
    flex-direction: column;
    width: 8%;
    height: 93.3vh;
    background-color: #ffff;
    align-items: center;
}

.iconDiv {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    background-color: #ffff;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

.homeIcon {
    width: 50%;
    padding: 1rem;
    background-color: transparent;
}

.iconDiv p {
    background-color: transparent;
    font-weight: 500;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.profileIcon {
    width: 50%;
    padding: 1rem;
    background-color: transparent;
}

.iconDiv:hover {
    cursor: pointer;
    background-color: #f1f1f1;
}